<section id="contactme" class="">
    <div id="contact-content-wrapper" class="container">
        <div id="heading" class="w-100 mx-auto py-5">
            <h1>Contact Me</h1>
            
        </div>
        <div id="contact-sources-container" class="row justify-content-center pb-5">
            <div id="contact-sources" class="col-lg-3 col-md-4 ">
                <div id="container1" class="con">
                    <a href="https://www.google.com/maps/place/Jijamata+Society/@19.2182782,72.9567549,17z/data=!4m5!3m4!1s0x3be7b94c33fd3133:0x49c2021d7f403bfd!8m2!3d19.2176652!4d72.9565993" class="con-src">
                         <i class="fas fa-map-marker"></i>
                         <p>Thane,India</p>
                    </a>
                </div>
                <div id="container2" class="con">
                    <a href="mailto:nachiketmahale@gmail.com" class="con-src">
                         <span>
                             <i class="fas fa-envelope"></i>
                         </span>
                         <p>nachiketmahale@gmail.com</p>
                     </a>
                </div>
                <div id="container3" class="con">
                    <a href="//wa.me/917558518951" class="con-src">
                        <span>
                            <i class="fab fa-whatsapp"></i>
                        </span>
                        <p>+91 755 851 8951</p>
                    </a>
                </div>
            </div>
            <div id="messege-fetcher" class="col-lg-4 col-md-6 flex-shrink-1">
                <form>
                    <input type="text" placeholder="Your Name" required>
                    <br>
                    <input type="email" placeholder="Email Address" id="eml" required>
                    <br>
                    <input type="text" placeholder="Subject" id="sbj" required>
                    <br>
                     <textarea rows="4" cols="50" placeholder="message" id="msg"></textarea>
                    <br>
                    <button disabled>Send messege</button>
                </form>
            </div>
        </div>
    </div>
</section>