<footer class="text-light py-5">
    <div id="footer-wrapper" class="container d-flex">
            <div id="name-storer" class="align-self-center px-2 py-1 d-flex
            align-items-center">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                        width="48" height="48" viewBox="0 0 172 172"
                        style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><path d="M86,159.1c-40.37202,0 -73.1,-32.72798 -73.1,-73.1v0c0,-40.37202 32.72798,-73.1 73.1,-73.1v0c40.37202,0 73.1,32.72798 73.1,73.1v0c0,40.37202 -32.72798,73.1 -73.1,73.1z" fill="#a4a7d9"></path><g fill="#212121"><path d="M43.76303,109.80543l40.70667,18.79817c1.01767,0.52317 2.03533,0.52317 3.06375,0l40.69233,-18.79817c1.032,-0.387 1.032,-0.8385 0,-1.34733v-0.00717l-9.73592,-4.42542c-1.01767,-0.50525 -2.03533,-0.50525 -3.053,0l-27.90342,12.86417c-1.01767,0.50525 -2.03892,0.50525 -3.06017,0l-27.90342,-12.86058c-1.0105,-0.50525 -2.03533,-0.50525 -3.053,0l-9.75742,4.42542c-1.01408,0.51242 -1.01408,0.96392 0.00358,1.35092z"></path><path d="M43.76303,86.75026l40.70667,18.82683c1.01767,0.37625 2.03533,0.37625 3.06375,0l40.69233,-18.81967c1.032,-0.50883 1.032,-1.01767 0,-1.53367v-0.01075l-9.73592,-4.41467c-1.01767,-0.51958 -2.03533,-0.51958 -3.053,0l-27.90342,12.84983c-1.01767,0.51958 -2.03892,0.51958 -3.06017,0l-27.90342,-12.84625c-1.0105,-0.51958 -2.03533,-0.51958 -3.053,0l-9.75742,4.41825c-1.01408,0.50883 -1.01408,1.01767 0.00358,1.53008z"></path><path d="M43.76661,63.53384v0l40.70308,18.81967c1.01767,0.51242 2.03533,0.51242 3.06375,0l40.69233,-18.80175c1.032,-0.516 1.032,-0.9675 0,-1.35092l-40.69592,-18.82683c-1.0105,-0.50525 -2.03892,-0.50525 -3.053,0l-40.71025,18.8125c-1.02125,0.387 -1.02125,0.83492 0,1.34733z"></path></g></g>
                    </svg>
                </span>
                <p  id="name" class="">Nachiket mahale</p>
            </div>
            <div id="copyright-holder" class="">
                <p> &copy; 2022 &#9473;@Nachiketmh</p>
            </div>
            <div id="social-status" class=" align-self-end ml-auto">
                <div id="icons-wrapper">
                    <a href="https://www.facebook.com/nachiket.mahale.31" target="_blank" class="ss">
                        <span>
                             <i class="fab fa-facebook-f"></i>
                        </span>
                    </a>
                    <a href="https://twitter.com/MahaleNachiket" target="_blank" class="ss">
                        <span>
                                <i class="fab fa-twitter"></i>
                        </span>
                    </a>
                    <a href="https://www.instagram.com/nachiket.mahale/" target="_blank" class="ss">
                        <span>
                                <i class="fab fa-instagram"></i>
                        </span>
                    </a>
                    <a href="https://www.linkedin.com/in/nachiket-mahale-b2a576230/" target="_blank" class="ss">
                        <span>
                                <i class="fab fa-linkedin-in"></i>
                        </span>
                    </a>

                </div>
            </div>
    </div>
</footer>