<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nachiket's Website</title>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="/css/all.css">
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.min.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap');
        *{
            margin:0px;
            padding:0px;
            box-sizing: border-box;
            font-family: 'Roboto', sans-serif;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
        }
    </style>
    <!-- including css -->
        <link rel="stylesheet" href="/css/header.css"/>
        <link rel="stylesheet" href="/css/home.css"/>
        <link rel="stylesheet" href="/css/contact.css"/>
        <link rel="stylesheet" href="/css/footer.css"/>
    <!--  end-->
</head>