<!-- navigation -->
<button type="button" id="toggle-btn" class="hide">  
    <!-- <span>
         <i class="fas fa-bars">
        </i> -->
        
    <!-- </span> --> 
    <div id="bar1" class="bar"></div>
    <div id="bar2" class="bar"></div>
    <div id="bar3" class="bar"></div>
</button>
<header>
        <div id="header-content-wrapper" class="container">
            <a href="#" class="text-light">Nachiket</a>
            <nav>
                <ul>
                    <li>
                        <a href="/" class="text-light">Home</a>
                    </li>
                    <li>
                        <a href="/projects" class="text-light" >Projects</a>
                    </li>
                    <li>
                        <a href="/about" class="text-light">About me</a>
                    </li>
                    <li>
                        <a href="#contactme" class="text-light">Contact me</a>
                    </li>
                </ul>
            </nav>
        </div>
</header>
<!-- Home content part -->
<section id="Home-content" class="">
</section>