<section id="mobile-navigation-bar" class="hide">
    <div id="mc" class="menu-container">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="#">Skills</a>
            </li>
            <li>
                <a href="#">Projects</a>
            </li>
            <li>
                <a href="/about.html">About me</a>
            </li>
            <li>
                <a href="#contactme" id="cont">Contact Me</a>
            </li>
        </ul>
    </div>

</section>