<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nachiket's Website</title>
</head>
<link rel="stylesheet" href="/css/project.css">
<body>
    <div id="allprojects">
        <ol>
            <li>
                <a href="https://forum-chat.herokuapp.com/">Forum chat</a>
            </li>
            <li>
                <a href="https://screen-recorder.herokuapp.com/">
                    ScreenRecorder
                </a>
            </li>
            <li>
                <a href="https://get-the-climate.herokuapp.com/">
                    WeatherApp
                </a>
            </li>
            <li>
                <a href="https://manage-movie.herokuapp.com/">Moviemanager</a>
            </li>
        </ol>
    </div>
</body>
</html>